<?xml version='1.0' encoding='utf-8'?>
<widget id="com.radiopendimi.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Radio Pendimi</name>
    <description>
        Radio Pendimi - radio islame ne gjuhen shqipe
    </description>
    <author email="info@radio-pendimi.com" href="http://radio-pendimi.com">
       Afrim Azizi
    </author>
    
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
	<preference name="AutoHideSplashScreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
   
    
    <icon src="icon.png" />
	
	<gap:splash src="splash.png" />
    <!-- iOS Splash Screens -->
    <gap:splash src="res/splash/ios/Default.png"                       gap:platform="ios"       width="320" height="480" />
    <gap:splash src="res/splash/ios/Default@2x.png"                    gap:platform="ios"       width="640" height="960" />
    <gap:splash src="res/splash/ios/Default-568h@2x.png"               gap:platform="ios"       width="640" height="1136" />
	
	<!-- Plugin for background audio playing -->
   <gap:plugin name="nl.kingsquare.background-audio" />
    
    <access origin="*" />
</widget>