<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width,
        height=device-height, target-densitydpi=medium-dpi" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<title>Radio Pendimi - online streaming</title>
<link rel="apple-touch-icon" href="images/AppIcon.png" />
    
    <!-- CSS LIDHJET -->
<link rel="stylesheet" href="css/themes/default/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="css/stili.css"/>
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/> --> 
<link rel="stylesheet" href="css/font-awesome.min.css"/>  
    
    <!-- JS LIDHJET  -->
<script src="js/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script src="js/fastclick.min.js"></script>
<script src="js/myscript.js"></script>

<!-- <script type="text/javascript" src="phonegap.js"></script> -->
</head>

<body style="font-family:Roboto" onload="tranzicionet();">

 <!-- Kanali 1 - homepage -->
<div data-role="page" id="home" data-theme="b" style="min-height:100%;/*background: radial-gradient(circle, #9a4d61, #4b3a48);*/" >

<!-- MENU Panel -->
  <div id="Menu1" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->

    
<!-- content -->
<div data-role="none">
<!-- Header -->
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu1" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Kanali 1</span>
        </div>
        <div class="right">
            <span class="butonat" onclick="window.location.reload();"><i class="fa fa-refresh fa-lg"></i> </span>
        </div>
    </div>
    <br>
    <div style="background: url('images/equalizer.png'); background-size:100%">
        <img id="cc_strinfo_trackimageurl_kanali1_main" class="cc_streaminfo logo" style="width: 50%; background: #fff; margin: 20px auto; padding: 5px; display:block; min-height:170px; min-width:170px;"/>
    </div>
    
    <!-- AUDIO PLAYER -->
    <div id="status-titulli"> 
        <span style="background:#6d4253; padding:8px; border-radius:8px"><i class="fa fa-signal fa-lg"></i>  Jeni duke dëgjuar:  <i class="fa fa-signal fa-lg fa-flip-horizontal"></i></span> 
        <br><br>
			<span id="cc_strinfo_song_kanali1_main" class="cc_streaminfo"></span><br>
			<!-- <div id="cc_recenttracks_kanali1" class="cc_recenttracks_list">Loading ...</div><br> -->
	</div>
	<div id="player" >
		<audio src="http://85.93.88.146:8000/;$type=mp3" id="player-1" preload="metadata"></audio>
		<div style="margin:15px auto 35px"> <!-- Player controls start -->
			<span onclick="document.getElementById('player-1').play()" class="btn_controli"> <i class="fa fa-play fa-3x"></i></span>
			<span onclick="document.getElementById('player-1').pause()" class="btn_controli"> <i class="fa fa-stop fa-3x"></i></span>
		</div> <!-- Player controls end -->
    </div>
    <!-- Nderrimi i kanaleve -->
    <div style="text-align:center; margin: 25px auto">
        <a href="#home" style="text-decoration:none"><span class="butonat"><i class="fa fa-microphone fa-lg"></i> Kanali 1</span></a>
        <a href="#kanali-2" style="text-decoration:none"><span class="butonat"><i class="fa fa-microphone fa-lg"></i> Kanali 2</span></a>
        <span  class="butonat" onclick="window.plugins.socialsharing.shareViaFacebook('Duke dëgjuar Radio Pendimin http://radio-pendimi.com/webfaqe/live-kanali-1', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"><i class="fa fa-share-alt-square fa-lg"></i> Shpërndaj</span>
    </div>
</div>

</div>
<!-- End Page -->
    
    
    

<!-- Kanali 2 -->
<div data-role="page" id="kanali-2"  data-theme="b" style="min-height:100%;/*background: radial-gradient(circle, #9a4d61, #4b3a48);*/" >

<!-- MENU Panel -->
  <div id="Menu2" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->
    
<!-- content -->
<div data-role="none">
<!-- Header -->
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu2" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Kanali 2</span>
        </div>
        <div class="right">
            <span class="butonat" onclick="window.location.reload();"><i class="fa fa-refresh fa-lg"></i> </span>
        </div>
    </div>
    <br>
    <div style="background: url('images/equalizer.png'); background-size:100%">
        <img id="cc_strinfo_trackimageurl_kanali2_main" class="cc_streaminfo logo" style="width: 50%; background: #fff; margin: 20px auto; padding: 5px; min-height:170px; min-width:170px; display:block;"/>
    </div>
    
    <!-- AUDIO PLAYER -->
    <div id="status-titulli"> 
        <span style="background:#6d4253; padding:8px; border-radius:8px"><i class="fa fa-signal fa-lg"></i>  Jeni duke dëgjuar:  <i class="fa fa-signal fa-lg fa-flip-horizontal"></i></span> 
        <br><br>
			<span id="cc_strinfo_song_kanali2_main" class="cc_streaminfo"></span><br>
			<!-- <div id="cc_recenttracks_kanali1" class="cc_recenttracks_list">Loading ...</div><br> -->
	</div>
	<div id="player" >
		<audio src="http://85.93.88.146:8002/;$type=mp3" id="player-2" preload="metadata"></audio>
		<div style="margin:15px auto 35px"> <!-- Player controls start -->
			<span onclick="document.getElementById('player-2').play()" class="btn_controli"> <i class="fa fa-play fa-3x"></i></span>
			<span onclick="document.getElementById('player-2').pause()" class="btn_controli"> <i class="fa fa-stop fa-3x"></i></span>
		</div> <!-- Player controls end -->
    </div>
     <!-- Nderrimi i kanaleve -->
    <div style="text-align:center; margin: 25px auto">
        <a href="#home" style="text-decoration:none"><span class="butonat"><i class="fa fa-microphone fa-lg"></i> Kanali 1</span></a>
        <a href="#kanali-2" style="text-decoration:none"><span class="butonat"><i class="fa fa-microphone fa-lg"></i> Kanali 2</span></a>
        <span  class="butonat" onclick="window.plugins.socialsharing.shareViaFacebook('Duke dëgjuar Radio Pendimin http://radio-pendimi.com/webfaqe/live-kanali-2', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"><i class="fa fa-share-alt-square fa-lg"></i> Shpërndaj</span>
    </div>
</div>

</div>
<!-- End Page -->    
    
    
    
<!-- Informacione -->
<div data-role="page" id="info" data-theme="b" style="min-height:100%;/*background: radial-gradient(circle, #9a4d61, #4b3a48);*/">
<!-- MENU Panel -->
  <div id="Menu3" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->
    
<div data-role="none">
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu3" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Info</span>
        </div>
    </div>
 <img src="images/pendimi.png"  class="logo"/>
    <p align="center">
      <a href="mailto:info@radio-pendimi.com" style="text-decoration:none; text-shadow:none; color: #fff;font-weight: 500;font-size: 20px; font-family: Dosis;">info@radio-pendimi.com </a><br>
      <a href="http://radio-pendimi.com" style="text-decoration: none; text-shadow:none; color: #fff; font-weight: 500; font-size: 20px; font-family: Dosis;">http://radio-pendimi.com </a><br>
        <span style="text-decoration: none; text-shadow:none; color: #fff; font-weight: 500; font-size: 15px; font-family: Dosis;">Programuar & Dizajnuar nga Afrim Azizi</span> <br>
      <a href="https://www.facebook.com/radioopendimi" target="_blank"><img src="images/find-us-on-facebook.png" style="width: 170px; padding: 5px;"/></a>
  </p>
 </div>
</div>
<!-- End Page -->
    
    

<!-- Transmetime -->
<div data-role="page" id="transmetime" data-theme="b" style="min-height:100%;/*background: radial-gradient(circle, #9a4d61, #4b3a48);*/">
<!-- MENU Panel -->
  <div id="Menu7" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->
    
<div data-role="none">
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu7" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Transmetime direkte</span>
        </div>
     </div><br><br><br>
    <div style="text-align:center; color:#fff; text-shadow:none; margin:20px 10px; font-family:Dosis; font-size:medium">
          Këtu mund të ndiqni transmetimet direkte të tribunave dhe organizimeve të ndryshme që transmetohen direkt në Radio Pendimi përmes kanalit zyrtar në Youtube. 
    </div>
	<div class="statusi-div"><span style="background:#6d4253; padding:8px; border-radius:8px;">Jeni duke shikuar: </span></div><span id="yt-status"></span><br>
	<div id="transmetime-list" class="yt-player-wrapper"></div>
 </div>
</div>
<!-- End Page -->    
    
    

<!-- Dergo Mesazh -->
<div data-role="page" id="dergomesazh" data-theme="b"  ng-app="APP" ng-controller="dergoMesazhCtrl">

    <!-- MENU Panel -->
  <div id="Menu5" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->
    
<!-- content -->
<div data-role="none">
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu5" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Dërgo Mesazh</span>
        </div>
     </div><br><br>
   <form class="form" > <!-- id="callAjaxForm" -->
	<p class="name">
        <input id="name" ng-model="emri" name="emri" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"  placeholder="Emri"  data-role="none" ng-class="{'wrongInput':errorInput}"  />
      </p>
     
      <p class="text">
        <textarea id="comment" ng-model="mesazhi" name="comment" class="validate[required,length[6,30]] feedback-input" placeholder="Mesazhi" data-role="none"  ng-class="{'wrongInput':errorInput}"></textarea>
      </p>
      
      
      <div class="submit" style="margin: 0px 12px;">
        <button id="submit" ng-click="dergoMesazhin()" >DËRGO</button>
		<button id="reset" type="reset" >PASTRO FUSHAT</button>
	  </div>
	   <h3 id="notification" align="center">
           {{notification}}
       </h3>
    </form>
</div>
<!-- footer -->

</div>
<!-- End Page -->

    
    

<!-- Facebook wall -->
<div data-role="page" id="fb-wall" data-theme="b" style="/*background: radial-gradient(circle, #9a4d61, #4b3a48);*/">
 <!-- MENU Panel -->
  <div id="Menu6" data-role="panel" data-display="push"  style="background: linear-gradient(to bottom, #9a4d61, #4b3a48); border-right:solid 1px rgba(255,255,255,0.5);">
  	<div class="logo">
		<img src="images/pendimi.png" style="border:none;width: 100%;display: block;margin: 0px auto;"> 
	</div>	
	<div><span class="titulli">Menu</span></div>
	<div class="menu" id="menu">
		<a href="#home"  data-role="none"><span><i class="fa fa-microphone "></i>  Kanali 1</span></a>
		<a href="#kanali-2" data-role="none"><span><i class="fa fa-microphone"></i>  Kanali 2</span></a>
		<a href="#fb-wall" data-role="none"><span><i class="fa fa-newspaper-o "></i>  Lajme</span></a>
        <a href="#transmetime" data-role="none"><span><i class="fa fa-youtube-play "></i>  Transmetime</span></a>
		<a href="#info" data-role="none"><span><i class="fa fa-info "></i>  Info</span></a>
	</div>
	<div><span class="titulli">Kontakt</span></div>
	<div class="Live" id="Live">
		<a href="skype:radiopendimi?call" data-role="none"><span><i class="fa fa-skype "></i>  Thirr në Skype</span></a>
		<a href="tel:0041445869903" data-role="none"><span><i class="fa fa-phone "></i>  Thirr në telefon</span></a>
		<a href="#dergomesazh" data-role="none"><span><i class="fa fa-comments-o"></i>  Dërgo Mesazh</span></a>
    </div>
	<div class="copyright">&copy; 2015 - Radio Pendimi<br/>Dizajnuar nga Afrim Azizi</div>
	</div> <!-- END MENU PANEL -->   

<!-- content -->
<div data-role="none">
    <div class="header">
        <div class="menuPanel">
            <a href="#Menu6" style="text-decoration:none"><span class="butonat"><i class="fa fa-bars fa-lg"></i> MENU</span></a>
        </div>
        <div class="center">
            <span>Lajme & Njoftime</span>
        </div>
     </div><br><br><br>
<div id="ibacor_fb_content">
<!-- Your facebook streaming -->
<div class="ibacor_fb_streaming"></div>
</div>
</div><!-- content -->
</div>
<!-- End Page -->
    
	<script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/PushwooshiOS.js"></script>
    <script type="text/javascript" src="js/pushwoosh-start.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>
    <script src="js/jquery.ibacor-fb-streaming.min.js"></script>
    <script src="js/index.js"></script>
	<script language="javascript" type="text/javascript" src="http://85.93.88.146:2199/system/streaminfo.js"></script>
    <script language="javascript" type="text/javascript" src="https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=PLBm6IaQX_2oLhbcD8AvsKyZdfD2lSvpqb&key=AIzaSyDhDZjburmzpaoH39Uj4dnU6X_GRLbCVW0&callback=broadcast"></script>
    
</body>
</html>
